/* RESET MODERNO */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #000; /* jรก combina com seu fundo */
}