.header {
  background-color: #282828; 
  padding: 1rem 2rem;
  position: sticky; 
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #282828; 
}
.logoDev{
    margin-left: 6rem;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.logoDev h5 {
  color: #FFFFFF;
  letter-spacing: 1px;
  margin: 0;
  cursor: default;
}

.navList {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  align-items: center;
}


.navList {
  list-style: none;
  display: flex;
  gap: 10px; 
  padding: 0;
  margin: 0;
  align-items: center;
}


.navLink {
  color: #B3B3B3;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.85rem;
  transition: all 0.3s ease;
  display: inline-block;
  
  
  padding: 6px 15px; 
  border-radius: 500px;
  
  border: 2px solid transparent; 
}

.navLink:hover {
  background-color: #1ED760;
  color: #000000;

  transform: scale(1.02); 
}

/* Container de Idiomas */
.langContainer {
  display: flex;
  gap: 10px;
  border-left: 1px solid #282828;
  padding-left: 20px;
}

.langContainer button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
  padding: 0;
  display: flex;
  align-items: center;
}

.langContainer button:hover {
  transform: translateY(-3px); 
  filter: grayscale(0) brightness(1.2);
}

.langImg {
  border-radius: 4px; 
  filter: grayscale(0.4); 
  transition: filter 0.2s;
}

.langContainer button:hover .langImg {
  filter: grayscale(0);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #1ED760;
  border-radius: 2px;
  transition: 0.3s;
}

@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .navbarBtns {
    position: absolute;
    top: 70px;
    right: 0;
    background: #121212;
    width: 100%;
    transform: translateY(-200%);
    transition: transform 0.3s ease;
  }

  .active {
    transform: translateY(0);
  }

  .navList {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

}